{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/require-default-props": 0,
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
