@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i');

body, .article {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.outlinedFont {
  font-weight: 800;
  fill: transparent;
  stroke: white;
  font-style: italic;
  stroke-width: .3px;
  display: block;
  max-width: 1200px;
  margin:auto;
  stroke-dasharray:500;
}

/*  FLEXBOX GRID OVERRIDES  */

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
